* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  line-height: 1.6;
}

.expense-tracker {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  width: 90%;
  max-width: 1200px;
}

.balance-container,
.transaction-container,
.history-container {
  flex-grow: 1;
  margin-right: 20px;
}

.transaction-container {
  flex-grow: 2; /* Allowing the transaction form to take up more space */
}

.expense-tracker > div:last-child {
  margin-right: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 10px 0;
}

h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  font-size: 1.5em;
  color: #2ecc71;
}

h3,
h4 {
  font-size: 1.2em;
  color: #555;
}

p {
  font-size: 1em;
  color: #777;
}

.income,
.expenses,
.add-transaction {
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.add-transaction input,
.add-transaction button,
.radio-container label {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-transaction button {
  background-color: #2ecc71;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-transaction button:hover {
  background-color: #27ae60;
}

.expense-tracker:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.radio-container label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  width: auto;
  padding: 0;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .expense-tracker {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: none;
  }

  .balance-container,
  .transaction-container,
  .history-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .summary {
    flex-direction: column;
    align-items: center;
  }

  .income,
  .expenses {
    text-align: center;
  }

  .profile {
    flex-direction: column;
  }

  .profile-photo {
    margin-bottom: 10px;
  }
}
