.sign-out-button {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.sign-out-button:hover {
  background-color: #c0392b;
}
